:root {
      --font-primary: 'Poppins', sans-serif;
      --color-background-1: #ffffff;
      --color-background-2: #f4f5f9;
      --color-background-3: #f5f5f5;
      --color-text-1: #868889;
      --color-text-2: #000000;
      --color-text-3: #1a0dab;
      --color-border: #ebebeb;
      --color-primary: #aedc81;
      --color-primary-dark: #6cc51d;
      --color-primary-light: #ebffd7;
    }

    body {
      font-family: var(--font-primary);
      background-color: var(--color-background-1);
      color: var(--color-text-2);
      margin: 0;
      padding: 0;
    }

    p {
      margin: 0;
      padding: 0;
    }
    button {
      cursor: pointer;
      border: none;
      outline: none;
      font-family: var(--font-primary);
    }

    .phone-navbar {
      display: flex;
      justify-content: space-between;
      padding: 15px 25px;
    }

    .section-title {
      display: flex;
      position: relative;
      align-items: center;
      justify-content: center;
      padding: 20px 0 35px 0;
    }
    .section-title_text {
      font-size: 25px;
      font-weight: medium;
    }
    .section-title_icon {
      position: absolute;
      left: 25px;
    }

    .section-main {
      height: 100vh;
      background-color: var(--color-background-2);
    }

    .section-main_container {
      display: flex;
      flex-direction: column;
      gap: 15px;
      width: 100%;
      padding-top: 32px;
    }

    .section-main_button {
      height: 60px;
      background-color: var(--color-primary-dark);
      width: 90%;
      margin: 0 auto;
      border-radius: 10px;
    }
    .section-main_button-text {
      color: var(--color-background-1);
      font-size: 18px;
      font-weight: 500;
    }

    .section-main_content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 35px;
      width: 100%;
      height: 750px;
    }
    .section-main_content-icon {
      width: 99px;
      height: 115px;
      margin: 0 auto;
    }
    .section-main_content-text {
      font-size: 20px;
      color: var(--color-text-2);
      text-align: center;
      font-weight: bold;
    }