:root {
      --font-primary: 'Poppins', sans-serif;
      --color-background-1: #ffffff;
      --color-background-2: #f4f5f9;
      --color-background-3: #f5f5f5;
      --color-text-1: #868889;
      --color-text-2: #000000;
      --color-text-3: #1a0dab;
      --color-border: #ebebeb;
      --color-primary: #aedc81;
      --color-primary-dark: #6cc51d;
      --color-primary-light: #ebffd7;
    }

    body {
      font-family: var(--font-primary);
      background-color: var(--color-background-1);
      color: var(--color-text-2);
      margin: 0;
      padding: 0;
    }

    p {
      margin: 0;
      padding: 0;
    }
    input[type="text"] {
      width: 100%;
      height: 40px;
      border: none;
      outline: none;
      background-color: transparent;
      color: var(--color-text-2);
      font-size: 16px;
    }

    .phone-navbar {
      display: flex;
      justify-content: space-between;
      padding: 15px 25px;
    }

    .section-title {
      display: flex;
      position: relative;
      align-items: center;;
      padding: 0px 0 25px 0;
      width: 100%;
    }
    .section-title_icon {
      padding: 15px 15px;
      height: 30px;
      width: 30px;
    }
    .section-title_input-search_container {
      display: flex;
      align-items: center;
      gap: 10px;
      width: 100%;
      max-width: 500px;
      padding: 0 25px;
      background-color: var(--color-background-2);
      height: 60px;
      border-radius: 10px;
    }
    .section-title_input-search_input {
      padding-left: 15px;
    }
    .section-title_input-search_container svg {
      width: 25px;
      height: 25px;
    }

    .section-main {
      height: 100vh;
      background-color: var(--color-background-2);
    }

    .section-main_container {
      display: flex;
      flex-direction: column;
      gap: 35px;
      width: 100%;
      padding-top: 32px;
    }

    .section-tag {
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 0 25px;
    }
    .section-tag_title {
      font-size: 25px;
      font-weight: bold;
      color: var(--color-text-2);
    }
    .section-tag_container {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
    }
    .section-tag_container-item {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      padding: 10px 15px;
      background-color: var(--color-background-1);
      border-radius: 5px;
      border: 1px solid var(--color-border);
      color: var(--color-text-1);
      font-size: 14px;
    }