@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --font-primary: 'Poppins', sans-serif;
  
  --color-black: #000000;
  --color-white: #fff;

  --color-background-1: #f4f5f9;
  --color-background-2: #f5f5f5;

  --color-border: #ebebeb;

  --color-primary-dark: #6cc51d;

  --color-font-primary: #333333;
}

/*? Constant styles ?*/
* {
  box-sizing: border-box;
}
body {
  font-family: var(--font-primary);
  background: linear-gradient(to bottom, #fff, #f4f5f9);
  position: relative;
  color: var(--color-font-primary);
  margin: 0 auto;
  padding: 75px 25px 0 25px;
  max-width: 1300px;
}
p {
  margin: 0;
}
h1, h2, h3 {
  margin: 0;
}
svg, .icon {
  height: 20px;
  width: 20px;
}
input {
  border: none;
  margin: 0;
  background-color: transparent;
}
input:focus {
  outline: none;
}
.disabled {
  display: none !important;
}
.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*? Phone header icons ?*/
.phone_icons {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: space-between;
  left: 0;
  top: 0;
  width: 100%;
  padding: 15px;
}
.phone_icons-hour {
  font-weight: bold;
  font-size: 15px;
}

/* Desktop width size */
@media screen and (min-width: 1200px) {
  body {
    border-radius: 5px;
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.12);
    padding: 75px 45px 0 45px;
  }
}